USE [ExploreCan]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 29-03-2023 10:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[Restaurant_Name] [nvarchar](50) NOT NULL,
	[Cuisine_Type] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Province_State] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Postal_Zip_Code] [nvarchar](50) NOT NULL,
	[Phone_Number] [nvarchar](50) NOT NULL,
	[Price_Range_per_person] [nvarchar](50) NOT NULL,
	[Average_Rating_out_of_5] [float] NOT NULL,
	[Number_of_Reviews] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Things_To_Watch]    Script Date: 29-03-2023 10:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Things_To_Watch](
	[longitude] [nvarchar](50) NULL,
	[latitude] [nvarchar](100) NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[type] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[dates_open] [nvarchar](50) NULL,
	[amenities] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[State_Name] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Restaurants] ([Restaurant_Name], [Cuisine_Type], [Address], [City], [Province_State], [Country], [Postal_Zip_Code], [Phone_Number], [Price_Range_per_person], [Average_Rating_out_of_5], [Number_of_Reviews]) VALUES (N'The Keg', N'Steakhouse', N'123 Main St', N'Toronto', N'Ontario', N'Canada', N'M5V 1J1', N'(416) 555-1234', N'$40-$60', 4.5, 500)
INSERT [dbo].[Restaurants] ([Restaurant_Name], [Cuisine_Type], [Address], [City], [Province_State], [Country], [Postal_Zip_Code], [Phone_Number], [Price_Range_per_person], [Average_Rating_out_of_5], [Number_of_Reviews]) VALUES (N'Joe''s Pizza', N'Italian', N'456 7th Ave', N'New York', N'New York', N'Canada', N'10001', N'(212) 555-5678', N'$10-$20', 4, 1000)
INSERT [dbo].[Restaurants] ([Restaurant_Name], [Cuisine_Type], [Address], [City], [Province_State], [Country], [Postal_Zip_Code], [Phone_Number], [Price_Range_per_person], [Average_Rating_out_of_5], [Number_of_Reviews]) VALUES (N'Sushi Garden', N'Japanese', N'789 5th St', N'Vancouver', N'British Columbia', N'Canada', N'V5T 1C6', N'(604) 555-9012', N'$20-$30', 4.2, 300)
GO
INSERT [dbo].[Things_To_Watch] ([longitude], [latitude], [code], [name], [type], [phone], [dates_open], [amenities], [state], [State_Name], [city]) VALUES (N'-114.353', N'53.675', N'ALBE', N'Alberta Beach Family RV Park', N'CP', N'780.924.2333', N'mid may-late sep', N'WES', N'AB', N'Alberta', N'Alberta Beach')
INSERT [dbo].[Things_To_Watch] ([longitude], [latitude], [code], [name], [type], [phone], [dates_open], [amenities], [state], [State_Name], [city]) VALUES (N'-112.332', N'53.88', N'ANDR', N'Andrew RV Park', N'CP', N'780.365.3687', N'mid may-late aug', N'WES', N'AB', N'Alberta', N'Andrew')
INSERT [dbo].[Things_To_Watch] ([longitude], [latitude], [code], [name], [type], [phone], [dates_open], [amenities], [state], [State_Name], [city]) VALUES (N'-113.962', N'52.034', N'ANTH', N'Anthony Henday', N'CP', N'403.318.3508', N'mid may-mid oct', N'E DP SH RS', N'AB', N'Alberta', N'Innisfail')
GO
